body{
    display: flex;
    margin: auto;
    padding-top: 20px;
}

#container{
    border : 2px solid rgb(66, 40, 31);
    width: 500px;
    height: 550px;
    display : flex;
    margin: auto;
    flex-direction:column;
}

#imagem{
    border : 2px;
    border-color:blue;
    border-style: solid;
    height: 50px;
}

#conteudo_lista{
    border : 2px;
    border-color:blue;
    border-style: solid;
    display: block
}

.linha{
    display : block;
    font-size: 12px;
    color: chocolate;
}
